main {
    height: 200px;
    width: 850px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: inset rgb(168, 145, 145) 20px;
}
body {
    background-color: rgb(171, 171, 173);
}
h2 {
font-size: 30px;
color: rgb(49, 23, 61);
text-decoration: underline;
}
.post__id{
color: aliceblue;
}
footer {
    height: 400px;
    width: 800px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}